
<div class="card subcontent-spacing">
  <div class="card-header">
    <%- postDate %>
    <button class="btn btn-danger post-action-btn" id="deletePost">Delete</button>
    <button class="btn btn-warning post-action-btn" id="editPost">Edit</button>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%- postBody %></p>
      <footer class="blockquote-footer"><%- postAuthor %> in <cite title="Source Title"><%- postTitle %></cite></footer>
    </blockquote>
  </div>
</div>
