
<div class="container">
  <div class="jumbotron content-spacing">
    <h1 class="display-4">Brad Foster</h1>
    <p class="lead">Full Stack Software Developer, Web Applications. Based out of Washington, D.C.</p>
    <hr class="my-4">
    <p>Subscribe to get my posts straight to your inbox!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Subscribe</a>
  </div>

  <div class="post-list content-spacing"></div>
  <div class="post-form content-spacing"></div>

  <div id="postValidationErrors subcontent-spacing"></div>
</div>
