
<div class="container">
  <ul></ul>
  
  <form>
    <div class="form-group col-md-3">
      <label for="postTitle">Title</label>
      <input type="text" class="form-control" name="postTitle" id="postTitle" />
    </div>
    <div class="form-group col-md-9">
      <label for="postBody">Body</label>
      <textarea type="text" class="form-control" rows="10" name="postBody" id="postBody"></textarea>
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-success" id="btn-add">Add Post</button>
    </div>
  </form>
</div>

<div id="todoValidationErrors"></div>
